* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
    background: $white;
}

body {
  background: $white;
  margin: 0;
  padding: 0;
  font-family: "FTBase", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header-wrapper {
  position: relative;
  padding: 10em 0;
  background: $orange;
  overflow: hidden;
  @media only screen and (min-width: 800px) {
    padding: 12em 0;
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: $yellow;
    @media only screen and (min-width: 380px) {
        transform: scale(1.4) translate(-50%, -50%);
    }
    @media only screen and (min-width: 800px) {
      transform: scale(2.25) translate(-50%, -50%);
    }
    @media only screen and (min-width: 1000px) {
      transform: scale(2.75) translate(-50%, -50%);
    }
  }
  .logo-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    @media only screen and (min-width: 800px) {
      display: flex;
    }
  }
  .logo-inner-left {
    @media only screen and (min-width: 800px) {
      width: 40%;
    }
  }
  .logo-inner-right {
    position: relative;
    @media only screen and (min-width: 800px) {
      width: 60%;
    }
  }
  a.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    letter-spacing: -0.05em;
    font-weight: 200;
    font-size: 2.4em;
    @media only screen and (min-width: 380px) {
      font-size: 3em;
    }
    @media only screen and (min-width: 800px) {
      position: relative;
      font-size: 3.5em;
      top: auto;
      left: auto;
      transform: none;
      margin-left: -1.422em;
    }
    @media only screen and (min-width: 1000px) {
      font-size: 4em;
    }
    .line-1, .line-2, .line-3, .line-4 {
      display: block;
    }
    .line-1 {
      text-indent: 1.46em;
    }
    .line-2, .line-4 {
      text-indent: 1.422em;
    }
  }
}

nav {
  line-height: 1.6;
  padding-left: 2px;
  a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: $black;
    letter-spacing: 0.02em;
    @media only screen and (min-width: 700px) {
      font-size: 15px;
    }
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.content-section {
  .content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.75em 1em;
    @media only screen and (min-width: 500px) {
      padding: 0.75em 2em;
    }
    @media only screen and (min-width: 800px) {
      display: flex;
      padding: 0.75em 3em;
    }
  }
  .title {
    @media only screen and (min-width: 800px) {
      width: 40%;
    }
    h2 {
      @include s3;
    }
  }
  .body {
    @media only screen and (min-width: 800px) {
      width: 60%;
    }
    p {
      @include s1;
    }
  }
}

.list {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.75em 1em;
  @media only screen and (min-width: 500px) {
    padding: 0.75em 2em;
  }
  @media only screen and (min-width: 800px) {
    padding: 0.75em 3em;
    margin-bottom: 2em;
  }
  ol {
    list-style-type: none;
    li {
      counter-increment: step-counter;
      width: 100%;
      border-top: 1px solid $black;
      padding: 0.75em 0;
      @media only screen and (min-width: 800px) {
        padding: 1.25em 0;
        padding-left: 40%;
      }
      &:before {
        display: block;
        position: relative;
        width: 30%;
        content: counter(step-counter);
        font-family: "FTBase", sans-serif;
        font-size: 3em;
        font-weight: 200;
        @media only screen and (min-width: 500px) {
          font-size: 4em;
        }
        @media only screen and (min-width: 800px) {
          position: absolute;
          left: 0;
          margin-left: 0.75em;
        }
      }
      h3 {
        @include s2;
      }
      p {
        @include s1;
        margin-top: 0.75em;
      }
    }
  }
}

#signatories {
  border-top: 1px solid $black;
  margin-bottom: 2em;
  .body {
    @media only screen and (min-width: 800px) {
      width: 60%;
    }
    p {
      @include s4;
    }
  }
}

#sign-up {
  background: $yellow;
  a {
    display: block;
    width: 100%;
    background: $black;
    padding: 1em 2em 1.2em;
    border-radius: 6px;
    color: $white;
    font-family: "FTBase", sans-serif;
    font-weight: 700;
    font-size: 0.875em;
    letter-spacing: 0.025em;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-top: 0.5em;
    @media only screen and (min-width: 500px) {
      display: inline-block;
      width: auto;
    }
  }
}

footer {
  background: $yellow;
  overflow: hidden;
}

.footer-wrapper {
  padding: 1.5em 2em 2em;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5em 1em 1.25em;
  @media only screen and (min-width: 500px) {
    padding: 1.5em 2em 2em;
  }
  @media only screen and (min-width: 800px) {
    padding: 1.5em 3em 2em;
  }
  .footer-inner {
    border-top: 1px solid $black;
    padding-top: 1.25em;
    @include s5;
    @media only screen and (min-width: 800px) {
      display: flex;
    }
    .left {
      margin-bottom: 0.5em;
      @media only screen and (min-width: 800px) {
        width: 50%;
      }
    }
    .right {
      @media only screen and (min-width: 800px) {
        text-align: right;
        width: 50%;
      }
    }
    a {
      color: $black;
      text-decoration: none;
      border-bottom: 1px solid $black;
    }
  }
}
